{% extends 'Pages/base_HomePage.html' %}
{% load static %}

{% block contacts_is_active %} active {% endblock %}

{% block banner_area %}
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Контактная информация</h1>
                    <nav class="d-flex align-items-center">
                        <a href="{% url 'homepage_url' %}">Главная<span class="lnr lnr-arrow-right"></span></a>
                        <a href="{% url 'homepage_url' %}">Контакты</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block contacts %}
    <div class="row d-flex justify-content-center align-items-center flex-wrap" style="padding-top: 50px; padding-bottom: 50px">
        <div class="col-lg-3">
            <div class="contact_info">
                <div class="info_item">
                    <i class="lnr lnr-home"></i>
                    <h6>California, United States</h6>
                    <p>Santa monica bullevard</p>
                </div>
                <div class="info_item">
                    <i class="lnr lnr-phone-handset"></i>
                    <h6><a href="#">00 (440) 9865 562</a></h6>
                    <p>Mon to Fri 9am to 6 pm</p>
                </div>
                <div class="info_item">
                    <i class="lnr lnr-envelope"></i>
                    <h6><a href="#">support@colorlib.com</a></h6>
                    <p>Send us your query anytime!</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}