{% extends 'Pages/base_HomePage.html' %}
{% load static %}

{% block header %}
    <header class="intro-header" style="background-image: url({% static 'frontend/img/home-bg.jpg' %})">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Блог обо всём</h1>
                        <hr class="small">
                        <span class="subheading">найдется что почитать</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                {% for new in news %}
                    <div class="post-preview">
                        <a href="{{ new.get_absolute_url }}">
                            <h2 class="post-title">
                                {{ new.title }}
                            </h2>
                            <h3 class="post-subtitle">
                                {{ new.short_description }}
                            </h3>
                        </a>
                        <p class="post-meta">Автор: {{ new.author.username }} Дата размещения: {{ new.created_at }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}